---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const bioEntry = await getCollection("team");
  return bioEntry.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render()
---

<Layout title={entry.data.name}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14" id="please-center">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.name}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {entry.data.title}
        </span>
      </div>
      <Picture 
        src={entry.data.avatar.src}
        alt={entry.data.avatar.alt}
        id="headshot"
        class="w-full rounded-md rounded transition group-hover:shadow-xl bg-white object-cover object-center aspect-square"
      />
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <Content />
    </div>
    <div class="text-center mt-8">
      <a
        href="/about"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to about</a
      >
    </div>
  </Container>
</Layout>

<style>
  #please-center {
    width: 400px;
    margin:auto;
    align-items: center;
    text-align: center;

    span, #headshot {
      margin: auto;
      align-items: center;
    }
  }

  #headshot {
    width: 300px;
  }
</style>